@font-face {
  font-family: "Minitel";
  src: url("../../ressources/fonts/Minitel.woff") format("woff");
}

.container {
  width: 100vw;
  font-family: "Minitel";
}

header {
  font-family: "Minitel";
  width: 100vw;
}

.navbar-brand {
    height: 80px;
    width: 80px;
}

#head {
  background-image: url("../../ressources/imgs/gettyimages-475331861-2048x2048.jpg");
}

#head .lead {
  font-family: "Minitel";
}

h2 {
  font-family: "Minitel";
}

main {
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  width: 100vw;
}

#herotext {
  position: relative;
  bottom: 100px;
}

.page-title {
  font-family: "Minitel";
  color: white;
}

/* For Sale */
.product {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

/* Application couleur et row reverse sur les articles pairs */
.product:section-child(even) {
  flex-direction: row-reverse;
  text-align: end;
  background-color: #f7f5f4;
}

.productname {
  font-family: "Minitel";
}

.productimg {
  width: 40vw;
  height: 22.47vw;
}

.productext {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.prix {
  font-size: 30px;
  font-family: "Minitel";
}

.stock {
  font-size: 20px;
  font-family: "Minitel";
}

#envoyer {
  margin-top: 20px;
}

/* Page Inscription */
#inscription {
  background-color: #191919;
}

.btn {
  width: 100%;
}

#profil {
  background-color: #191919;
}
.profil-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil_button {
  text-align: center;
  background-color: #ff9b22;
  color: #f7f5f4;
  height: 30px;
  font-family: "Minitel";
  border-radius: 5px;
  border: none;
}

@media only screen and (max-width: 1150px) {
  nav {
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  h2 {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
.navpart {
    float: left;
    }
}

/* Panier */
#cartarticles {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartarticle {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.greybar {
  width: 90vw;
  height: 2px;
  background-color: gray;
  border-radius: 2px;
  margin: 20px;
}

.checkoutparts {
  width: 40vw;
}

#panier {
  background-color: #191919;
}

.productoutext {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

/* Redirection */
#main4 {
  height: 50vw;
}

#main4 h1{
  font-family: 'Minitel';
}

/*Page produit*/
#ajoutpanier {
  display: flex;
  justify-content: space-between;
}

#butajout {
  width: 70%;
}

/* Page panier */
#total {
  display: flex;
}