.container {
  width: 100vw;
  font-family: "Minitel";
}

#head {
  background-image: url("ressources/imgs/gettyimages-475331861-2048x2048.jpg");
}

h2 {
  font-family: 'minitel';
}

main {
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}

#herotext {
  position: relative;
  bottom: 100px;
}

/* For Sale */
.product {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

#product2 {
  flex-direction: row-reverse;
  text-align: end;
  background-color: #f7f5f4;
}

.productimg {
  width: 40vw;
  height: 22.47vw;
}

.productext {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.prix {
  font-size: 30px;
}

.stock {
  font-size: 20px;
}

#envoyer {
  margin-top: 20px;
}

/* Page Inscription */
.btn {
  width: 100%;
}


@media only screen and (max-width: 1150px) {
  nav {
    font-size: 15px;
  }
@media only screen and (max-width: 320px) {
  h2 {
    font-size: 25px;
  }
